.hone{
    background-color: #4c62aa;
    color: #36df8a;
    font-family: cursive;
    font-style: oblique;
    padding-right: 15px;
   
}
#red{
    text-align: center;
    color: blue;
    font: bold;
}
.p1{
    text-align: left;
    color: blueviolet;
    
}
.big-text {
    font-weight: bold;
    font-size: 48px;
    color: green;
    padding: 16px;
    font-size: 72px;
}
	
.div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    background-color: rgb(228, 135, 212);
    font-size: larger;
    border: rgb(43, 255, 0);
  }
.div1{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: aquamarine;
    font-weight: bold;
}
.rcorners1 {
    border-radius: 15px 50px 30px 5px;
    background-color: blueviolet;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 150px;
  }
  
  .rcorners2 {
    border-radius: 15px 50px 30px;
    background: #73AD21;
    padding: 20px;
    margin:20px;
    width: 200px;
    height: 150px;
  }
  
  .rcorners3 {
    border-radius: 15px / 50px;
    background: #73AD21;
    padding: 20px;
    margin:20px;
    width: 200px;
    height: 150px;
  }
  
  .rcorners4{
    border-radius: 50%;
    background: #73AD21;
    padding: 20px;
    margin:20px;
    width: 200px;
    height: 150px;
  }
  	
	
  div.sticky {
    position: -webkit-sticky; /* Needed for Safari */
    position: sticky;
    top: 0;
    background-color: green;
    border: 2px solid #4CAF50;
  }
  element.style {
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color 300ms;
}
body {
    background-color: #888279;
  }
  
  .jumbotron {
    background-image: url("http://upload.wikimedia.org/wikipedia/commons/6/62/Drip_Coffee_Bangkok.jpg");
  }
  
  .jumbotron h1 {
    color: #f7fafe;
  }
  
  .mission {
    background-color: #323232;
    color: #f7fafe;
    padding: 1em;
    border-radius: 2em;
  }
  
  .mission p {
    font-family: "Raleway" "sans-serif";
    font-size: 1.8em;
    text-align: center;
    position: center;
  }
  
  .features {
    padding: 5% 0;
    background-color: #323232;
    border-radius: 2em;
  }
  
  .features p {
    font-family: "Muli" "sans-serif";
    text-align: center;
    color: #f7fafe;
    font-size: 1.2em;
    padding-top: 2em;
  }
  .features img {
    border-radius: 2em;
  }
  
  .video {
      width: 50%;
  }
  
  footer {
    background-color: #f8f9fa;
    color: #6c757d;
    width: 100%;
    padding: 1em;
  }
  
  footer a {
    color: #6c757d;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #212529;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer li {
    margin: 0 10px;
  }
  
  
    footer .col-md-4 {
      margin-top: 20px;
    }
  
  